  @import url(//db.onlinewebfonts.com/c/f05f148ec6596f0b75375fa566aaf1fe?family=Bely);  
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: Cousine-Regular;
    src: url("../fonts/Cousine/Cousine-Regular.ttf");
  }

  @font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
  }

  @font-face {
    font-family: Gothic-Regular;
    src: url("../fonts/Didact_Gothic/DidactGothic-Regular.ttf");
  }

  html{
    font-family: Montserrat;
    font-size: 0.9rem;
  }

  img{
    max-width: 100%;
  }

  /* !Header */

  header nav{
    display: flex;
    justify-content: space-between;
    margin: 2% 5%;
    align-items: center;
  }

  header nav div{
      width: 70vw;
      margin-right: -20%;
  }

  header nav a{
    margin: 0 15px 0 5px;
    padding: 3% 1%;
    text-decoration: none;
    color:#303031;
  }

  header nav a:hover {
    color: #71A894;
  }

  header nav h2{
    display: flex;
    align-items: center;
    margin-right: 3px;
    
  }
  
  header nav h2::before{
    content: "";
    background-image: url("../img/Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 46px;  
    height: 46px;
    margin-top: 5%;
    margin-right: 7px;
    margin-left: 19px;
    vertical-align: middle;

  }

  header .Model_flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 85px;
  }

  header img{
    margin: 2%;
    width: 55%;
  }

  header .Model_flex .Capitel_h1{
    font-family: Gothic-Regular;
    font-size: 2.9rem;
    width: 82%;
    margin-bottom: 7%;
    color: #303031;
  }

  header .Model_flex .text_p{
  color: #66645E;
  margin-bottom: 7%;
  }

  header .Model_flex div .btn{
    text-decoration: none;
    color: white;
    background-color: #71A894;
    border-radius: 12px;
    padding: 2% 4%;
    display: inline-block; 
  text-align: center; 
  line-height: 35px; 
  }
  
    /* !Main */

  section .Capitel_box h1{
    text-align: center; 
    margin: 12% 3% 2% 3% ;
    font-family: Gothic-Regular;
    font-size: 2.9rem;
   
    }

  section .Capitel_box .text_p{
    margin-left: 22%;
    margin-bottom: 3%;
    text-align: center; 
    width: 56%;
    }
    

    /* !Reimagining Block */

.reimagining_flex{
display: flex;
justify-content: space-around;
align-items: center;
margin: 3% 6%;
}

.reimagining_flex div{
  padding: 4px 5px;
  margin: 1% 1%;
  width: 490px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
text-align: center;
align-items: center;
border: 2px solid rgba(128, 128, 128, 0.259); 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.reimagining_flex div img{
  margin: 6% 3%;
width: 15%;
}

.reimagining_flex div h4{
  margin: 3%;
}
.reimagining_flex div .text_p{
  margin: 3% 0 10%;
  
  
}
.kickstart_flex {
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.kickstart .icon {
width: 4%;
margin: 7% 10% 1%;
}

.kickstart_flex .Capitel_h1{
  font-family: Gothic-Regular;
  font-size: 2.9rem;
  width: 60%;
  margin: 1% 10% 1%;
}

.kickstart_flex .text_p{
  margin: 2% 10%;
  width: 70%;

}
.kickstart_flex .widget{
margin: 10% 15% 0 -45%;
width: 95%;
box-shadow: 12px 15px 2px rgba(18, 125, 79, 0.923); 
border-radius: 14px;
}

.kickstart .kickstart_flex .foto_2 {
  margin: 5% 30%;
width: 90%;
}

.kickstart .kickstart_flex .widget_2 {
text-align: left;
margin: 3% 13%;
width: 70%;
}

.kickstart .kickstart_flex .widget_text_2{
  width: 96%;
}

/* ! Help us improve Open Enterprise */

.help_us .reimagining_flex .Capitel_h4{
  text-align: left;

  font-family: Cousine-Regular;
  font-size: 1.2rem;
  color: black;
}

.help_us .reimagining_flex .text_p{
  text-align: left;
  font-family: Cousine-Regular;
  color:#303031;
  margin: 2% 3%;  
}

 .help_us .inline_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.help_us .inline_text .aut {
 
  display: inline-block;
  background-color: #71A894;
  font-size: 0.8rem;
  border-radius: 15px;
  padding: 4px 1px;
  color: white;
  text-align: center;
  margin: 0 55px 0 -25px;
}

.help_us .inline_text .apply{
 
  font-family: Cousine-Regular;
  text-align: center;
 
}

.help_us .reimagining_flex  div h4,
.help_us .reimagining_flex  div .text_p {
  text-align: left;
  width: 100%;
}
.help_us .reimagining_flex  div {
  padding: 20px; 
}

.help_us .btn_view{
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #303031;
  color: white;
  padding: 12px 0;
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  margin: 3% auto ;
  width: auto;
  max-width: 200px;
}

.img_punkt img{
  margin-bottom: 3%;
}

footer .Model_flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 85px;
}

footer img{
  margin: 3% -6% 5% -2%;
  width: 75%;
}

footer .Model_flex .Capitel_h1{
  font-family: Gothic-Regular;
  font-size: 2.9rem;
  width: 82%;
  margin-bottom: 7%;
  color: #303031;
}

footer .Model_flex .text_p{
color: #66645E;
margin-bottom: 7%;
}

footer .Model_flex div .btn{
  text-decoration: none;
  color: white;
  background-color: #71A894;
  border-radius: 12px;
  padding: 2% 4%;
  display: inline-block; 
text-align: center; 
line-height: 35px; 
margin-bottom: 10%;
}

footer nav{
  display: flex;
  justify-content: space-between;
  margin: 3% 7%;
  align-items: center;
}

footer nav div{
    width: 70vw;
    margin-right: -40%;
}

footer nav a{
  margin: 0 15px 0 5px;
  padding: 3% 1%;
  text-decoration: none;
  color:#303031;
}

footer nav a:hover {
  color: #71A894;
}

footer nav h2{
  display: flex;
  align-items: center;
  margin-right: 3px;
  
}
